<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello!!!</title>
</head>
<body>
    <h1>HelloWorld</h1>
    <table>
        <tbody>
            <tr>
                <th>URLパラメータ</th><td th:text="${urlParam}"></td>
            </tr>
            <tr>
                <th>国</th><td th:text="${countory}"></td>
            </tr>
            <tr>
                <th>住所</th><td th:text="${address}"></td>
            </tr>
            <tr>
                <th>都市名</th><td th:text="${city}"></td>
            </tr>
            <tr>
                <th>郵便番号</th><td th:text="${postcode}"></td>
            </tr>
            <tr>
                <th>ユーザー名</th><td th:text="${username}"></td>
            </tr>
            <tr>
                <th>パスワード</th><td th:text="${password}"></td>
            </tr>
            <tr>
                <th>インターバル</th><td th:text="${interval}"></td>
            </tr>
            <tr>
                <th>スリープ時間</th><td th:text="${sleepTime}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
